<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos_List</title>
</head>
<body>

    <h1>Cursos de Coder - Python</h1>
    <ul>
        {% for curso in object_list %}

            <li>
                <p>NOMBRE: {{ curso.nombre }} </p>
                <p> 
                    <a href="{% url 'Detail' curso.id %}">Ver</a> | 
                    <a href="{% url 'Edit' curso.id %}">Editar</a> | 
                    <a href="{% url 'Delete' curso.id %}">Borrar</a> 
                
                </p> 
            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'New'  %}">Nuevo</a> | 


</body>
</html>